  /* Light mode */
  @media (prefers-color-scheme: light) {
      body {
          background-color: white;
          color: black;
      }
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
      body {
          background-color: black;
          color: white;
      }
  }
  
  @font-face {
    font-family: "gt";
    src: url(https://spstland.github.io/gt-america.ttf);
  }
  
  * {
    font-family: "gt", Arial, sans-serif;
    font-weight: 500;
  }
